.editOpt:hover,
.deleteOpt:hover,
.createOpt:hover {
    color: white;
}

.login-body {
    background:  rgb(151, 139, 82) !important;

    font-style: normal !important;
}

.login-title {
    color: #3d351e;
    cursor: pointer;
}

.login-footer {
    color:  #3d351e;
    cursor: pointer;
}

.login-box {
    background: white;
    border-radius: 1em;
    margin-top: 14%;
    width: 567px;
    height: 350px;
    text-align: center;
}

.signin-box {
    background: white;
    border-radius: 1em;
    margin-top: 4%;
    width: 567px;
    height: 509px;
    text-align: center;
}

.login-box h1,
.signin-box h1 {
    font-size: 2em !important;
    padding: 1em !important;
    color:  #3d351e;
}

.signin-box .text-danger {
    margin: 0;
    height: 1em;
    text-align: start;
    font-size: 13px;
}

.login-box .icon,
.signin-box .icon {
    font-size: 29px;
    color:  #3d351e;
}

.login-box .btn-primary,
.signin-box .btn-primary {
    margin-top: 0.5em;
    background-color: #3d351e !important;
    height: 3em;
}

.form-group {
    margin: 1em;
}

.login-bg-img {
    height: 500px !important;
    margin-left: -17em !important;
}



.title-general {
    font-size: 2.5em !important;
    color: whitesmoke;
}

.capture-img {
    height: 160px;
    border-radius: 1em;
}